@model IEnumerable<LAB04_ED1.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nuevo Vehiculo</a>
</p>

<h3 class=" text-start"> Busqueda</h3>
<div class="form-inline mb-3 align-content-around">
    <form asp-action="BuscarPlaca" method="post" class="mx-2">
        <input name="BuscPlaca" type= "search" class="form-control" placeholder="Placa" />
        <button type="submit" class="btn btn-outline-success">Buscar</button>
    </form>
    <form asp-action="BuscarColor" method="post" class="mx-2">
        <input name="BuscColor" type="search" class="form-control" placeholder="Color" />
        <button type="submit" class="btn btn-outline-success">Buscar</button>
    </form>
    <form asp-action="BuscarPropietario" method="post" class="mx-2">
        <input name="BuscPropietario" type="search" class="form-control" placeholder="Propietario" />
        <button type="submit" class="btn btn-outline-success">Buscar</button>
    </form>
</div>


<table class="table">
    @if (Model !=null)
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Placa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Propietario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitud)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitud)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Propietario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitud)
                    </td>
                    <td>
                        @* @Html.ActionLink("Edit", "Edit", new {  id=item.Placa  }) |*@
                        @* @Html.ActionLink("Details", "Details", new {  id=item.ID  }) |*@
                        @* @Html.ActionLink("Delete", "Delete", new {  id=item.Placa  })*@
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Placa) </th>
                <th>@Html.DisplayNameFor(model => model.Color)</th>
                <th> @Html.DisplayNameFor(model => model.Propietario)</th>
                <th>@Html.DisplayNameFor(model => model.Longitud) </th>
                <th> @Html.DisplayNameFor(model => model.Latitud)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        </tbody>
    }
</table>
